{{define "_bottom-wrapper"}}
    </div>
    <!-- content-wrapper ends -->
    {{template "footer"}}
    </div>
    <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    {{template "_footer"}}

{{end}}